In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('weatherAUS.csv')

In [7]:
df_copia = df.copy()
df_copia.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [9]:
df_copia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [ ]:
# Podemos ver que hay una gran cantidad de datos nulos
df_copia.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

# Ejercicio 1

In [12]:
# Coordenadas aproximadas para algunas ciudades de Australia
coordenadas_ciudades = {
    'Albury': (-36.08, 146.92),
    'Sydney': (-33.87, 151.21),
    'Melbourne': (-37.81, 144.96),
    'Brisbane': (-27.47, 153.02),
    'Perth': (-31.95, 115.86),
    'Adelaide': (-34.93, 138.60),
    'Darwin': (-12.46, 130.84),
    'Hobart': (-42.88, 147.33),
    'Canberra': (-35.28, 149.13),
    # AgregÃ¡ mÃ¡s si necesitÃ¡s
}

Decidimos hacer un df con coordenadas de las ciudades de Australia para poder a partir de eso establecer mas fÃ¡cil las regiones

In [14]:
coord_df = pd.DataFrame.from_dict(coordenadas_ciudades, orient='index', columns=['Latitud', 'Longitud'])
coord_df.reset_index(inplace=True)
coord_df.rename(columns={'index': 'Location'}, inplace=True)

# Unimos al dataset
df_coordenadas = pd.merge(df_copia, coord_df, on='Location', how='left')

In [15]:
df_coordenadas.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Latitud,Longitud
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,-36.08,146.92
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No,-36.08,146.92
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No,-36.08,146.92
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No,-36.08,146.92
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No,-36.08,146.92

In [16]:
# Hacer k-means

# Ejercicio 2

Date -> Fecha de la observaciÃ³n  
Location -> Ciudad donde se tomÃ³ la mediciÃ³n  
MinTemp -> Temperatura mÃ­nima del dÃ­a (Â°C)  
MaxTemp -> Temperatura mÃ¡xima del dÃ­a (Â°C)  
Rainfall -> PrecipitaciÃ³n registrada ese dÃ­a (mm)  
Evaporation -> EvaporaciÃ³n estimada (mm)  
Sunshine -> Horas de sol durante el dÃ­a  
WindGustDir -> DirecciÃ³n de la rÃ¡faga de viento mÃ¡s fuerte  
WindGustSpeed -> Velocidad de la rÃ¡faga de viento mÃ¡s fuerte (km/h)  
WindDir9am -> DirecciÃ³n del viento a las 9am   
WindDir3pm -> DirecciÃ³n del viento a las 3pm  
WindSpeed9am -> Velocidad del viento a las 9am (km/h)  
WindSpeed3pm -> Velocidad del viento a las 3pm (km/h)  
Humidity9am -> Humedad relativa a las 9am (%)  
Humidity3pm -> Humedad relativa a las 3pm (%)  
Pressure9am -> PresiÃ³n atmosfÃ©rica a las 9am (hPa)  
Pressure3pm -> PresiÃ³n atmosfÃ©rica a las 3pm (hPa)  
Cloud9am -> Cobertura nubosa a las 9am (de 0 a 8)  
Cloud3pm -> Cobertura nubosa a las 3pm (de 0 a 8)  
Temp9am -> Temperatura a las 9am (Â°C)  
Temp3pm -> Temperatura a las 3pm (Â°C)  
RainToday -> Indica si lloviÃ³ ese dÃ­a ("Yes"/"No")  
RainTomorrow -> Variable objetivo: si lloverÃ¡ al dÃ­a siguiente ("Yes"/"No")  
Regiones -> ...